.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    width: 256px;
    height: 400px;
    background-color: white;
    transition: background-color .3s ease-in-out;
    border-radius: 8px;
}

.card .data-container{
    padding: 16px;
    position: relative; 
    width: 224px;
    height: 96px;
    margin-top: -6px;
}