body{
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
    font-family:'Calibri';
}

.page{
    margin-left: 120px;
    font-family:'Calibri';
    margin-bottom: 40px;
}

.navigator{
    box-shadow: 0 2px 0 0 #47C6EF;
    height: 60px;
    display: flex;
}

.navigator a{
    color: #47C6EF;
    text-decoration: none;
    font-family:'Calibri';
    font-size: 24px;
}

.navigator a:hover{
    text-decoration: underline;
}

#logo{
    margin-left: 80px;
    margin-top: 14px;
    width: 32px;
    height: 32px;
}

.landmark{
    margin-top: 16px;
    position: absolute;
    right: 80px;
    display: flex;
    gap: 56px
}

.title{
    border-top: solid 4px #47C6EF;
    margin-top: 60px;
    padding-top: 12px;
    width: fit-content;
    font-size: 36px;
    height: 80px;
}

#search{
    border-radius: 8px;
    position: absolute;
    top: 242px;
    right: 94px;
    width: 160px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    column-gap: 48px;
    row-gap: 40px;
}

.go-up{
    position: fixed;
    bottom: 40px;
    right: 32px;
    cursor: pointer;
}

.circle{ 
  height: 40px;
  width: 40px;
  border: solid 2px #47C6EF;
  border-radius: 50%;
  display: inline-block;
}

.arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #47C6EF;
    border-left: 2px solid #47C6EF;
    transform: rotate(45deg);
    margin-top: 35%;
    margin-left: 22%;
  }