@font-face {
    font-family: "AlloyInk";
    src: url('/font/AlloyInk.otf') format("opentype");
}

body{
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
    font-family:'Calibri';
}

.page{
    margin-left: 120px;
    font-family:'Calibri';
    margin-bottom: 40px;
}

.navigator{
    box-shadow: 0 0 4px black;
    height: 60px;
    display: flex;
}

.landmark a{
    color: black;
    border-bottom: solid 2px transparent;
    font-family:'Calibri';
    font-size: 24px;
    transition: 0.5s;
}

.landmark a:hover{
    border-color: black;
    transition: 0.5s;
}

#mark{
    margin-left: 80px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

#mark img{
    width: 100%;
    height: 100%;
}

.landmark{
    margin-top: 16px;
    position: absolute;
    right: 80px;
    display: flex;
    gap: 56px
}

.title{
    border-top: solid 4px black;
    margin-top: 60px;
    padding-top: 12px;
    width: fit-content;
    font-size: 36px;
    height: 80px;
}

#search{
    border-radius: 8px;
    position: absolute;
    top: 242px;
    right: 94px;
    width: 160px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    column-gap: 48px;
    row-gap: 40px;
}

.player-card {
    width: 160px;
    height: 220px;
    background-color: white;
    transition: 0.5s;
    border-radius: 8px;
    border: solid 2px black;
    transition: 0.5s;
}

.jersey{
    margin-left: 18%;
    margin-top: 12.5%;
    width: 55%;
}

.player-card .data-container{
    margin-top: 62.5%;
    width: 75%;
    height: 35%;
    padding: 12.5%;
    z-index: 1;
}

.player-card .data-container .name{
    font-size: 16px;
    font-weight: bold;
    width: 110%;
}

.player-card .data-container .info{
    display: flex;
    margin-top: 10%;
}

.player-card .data-container .extra{
    font-size: 12px;
    width: 50%;
    line-height: 150%;
}

.player-card .data-container .rate{
    font-size: 48px;
    font-weight: bold;
    width: 50%;
    text-align: center;
}

.role-button-container{
    display: flex;
    width: 796px;
    margin-top: 20px;
    justify-content: space-between;
}

.slot-button-container{
    display: flex;
    width: 796px;
    margin-top: 8px;
    justify-content: space-between;
}

#p-button{
    width: 188px;
    border-radius: 8px;
    border: solid 1px orange;
    text-align: center;
    font-size: 24px;
    color: orange;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

#p-button-active{
    width: 188px;
    border-radius: 8px;
    border: solid 1px black;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: orange;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

#p-button:hover{
    color: white;
    background-color: orange;
    border-color: black;
    transition: 0.5s;
}

#d-button{
    width: 188px;
    border-radius: 8px;
    border: solid 1px #47C6EF;
    text-align: center;
    font-size: 24px;
    color: #47C6EF;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

#d-button-active{
    width: 188px;
    border-radius: 8px;
    border: solid 1px black;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: #47C6EF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

#d-button:hover{
    color: white;
    background-color: #47C6EF;
    border-color: black;
    transition: 0.5s;
}

#c-button{
    width: 188px;
    border-radius: 8px;
    border: solid 1px rgb(92, 255, 47);
    text-align: center;
    font-size: 24px;
    color: rgb(92, 255, 47);
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

#c-button-active{
    width: 188px;
    border-radius: 8px;
    border: solid 1px black;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: rgb(92, 255, 47);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

#c-button:hover{
    color: white;
    background-color: rgb(92, 255, 47);
    border-color: black;
    transition: 0.5s;
}

#a-button{
    width: 188px;
    border-radius: 8px;
    border: solid 1px red;
    text-align: center;
    font-size: 24px;
    color: red;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

#a-button-active{
    width: 188px;
    border-radius: 8px;
    border: solid 1px black;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: red;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

#a-button:hover{
    color: white;
    background-color: red;
    border-color: black;
    transition: 0.5s;
}

.button{
    width: 80px;
    border-radius: 8px;
    border: solid 1px black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    color: black;
    background-color: white;
}

.button-active{
    width: 80px;
    border-radius: 8px;
    border: solid 1px black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    background-color: black;
}

.button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.team-card {
    width: 200px;
    height: 90px;
    background-color: white;
    transition: 0.5s;
    border-radius: 8px;
    border: solid 2px black;
    transition: 0.5s;
    display: flex;
}

.team-card:hover{
    box-shadow: 0 0 20px black;
    transition: 0.5s;
}

.go-up{
    position: fixed;
    bottom: 40px;
    right: 32px;
    cursor: pointer;
}

.circle{ 
  height: 40px;
  width: 40px;
  border: solid 2px black;
  border-radius: 50%;
  display: inline-block;
}

.arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(45deg);
    margin-top: 35%;
    margin-left: 22%;
}

.goBackButton{
    position: absolute;
    bottom: 40px;
    padding: 8px;
    border: 2px solid black;
    width: fit-content;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.goBackButton:hover{
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

.rounds-container{
    display: flex;
    width: 1184px;
    justify-content: space-between;
    margin-bottom: 12px;
    margin-top: -20px;
}

.round{
    cursor: pointer;
}

.team-container{
    display: flex;
    width: 1190px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calendar-container{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    column-gap: 48px;
    row-gap: 40px;
}

#calendar-logo{
    height: 40px;
    transition: 0.5s;
}

#calendar-logo:hover{
    filter: drop-shadow(0 0 5px black);
    transition: 0.5s;
}